<h1>
  Edit favorite #<%= @favorite.id %>
</h1>

<hr>

<form action="/update_favorite/<%= @favorite.id %>" method="post">

  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <input type="text" id="restaurant_id" name="restaurant_id" class="form-control" value="<%= @favorite.restaurant_id %>">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @favorite.user_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update favorite
  </button>
</form>

<hr>

<a href="/favorites">
  Go back
</a>
