<h1>
  Add a new favorite
</h1>


<hr>

<form action="/create_favorite" method="post">

  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <input type="text" id="restaurant_id" name="restaurant_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>

<hr>

<a href="/favorites">
  Go back
</a>
